<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="assets/img/logo.svg" width="100px" alt="file">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
<!--            <div class="dropdown text-end">-->
<!--                <a href="#" class="btn btn-outline-dark ms-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Language-->
<!--                </a>-->
<!--                <ul class="dropdown-menu text-small mt-2 me-2">-->
<!--                    <li><a class="dropdown-item" href="#">Français</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">Anglais</a></li>-->
<!--                </ul>-->
<!--            </div>-->
            <a [routerLink]="['/']" class="btn btn-dark ms-1">données SI</a>
            <a [routerLink]="['/referential-post']" class="btn btn-dark ms-1">Référentiels</a>
            <a [routerLink]="['/dashboard']" class="btn btn-dark ms-1">Dashboards</a>
        </div>
    </div>
</header>
