/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-transform: uppercase;
}

a {
    &.btn {
        padding: 8px 16px;
        &.btn-success {
            background-color: #145839 !important;
        }
    }
}
